.top-sm-104 {
    @include mobile-min {
        top: 104px;
    }
}

.offcanvas-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    z-index: -1;

    &.show {
        z-index: 1040;
    }

    @include tablet-min {
        display: none;
    }

    &.fade {
        opacity: 0;
    }

    &.show {
        opacity: 0.7;
    }
}

.modal {
    z-index: 1080;
}

.modal-backdrop {
    z-index: 1070;

    &.show {
        opacity: 0.7;
    }
}