.workseries--scrollbar {
    transform: translate(0, 0) !important;

    @include md {
        height: 100% !important;
    }
}

.workseries .workseries__menu__modal-backdrop {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1070;
    width: 100vw;
    height: 100vh;
    background-color: #000;

    &.fade {
        opacity: 0;
    }

    &.show {
        opacity: 0.7;
    }

    &.active {
        display: block;
    }
}

.workseries .modal-backdrop {
    @include tablet-min {
        display: none !important;
    }
}

.workseries__button {
    left: calc(50% - 81px);
    bottom: 24px;
}

.workseries__info__decoration {

    &::after {
        position: absolute;
        content: "";
        right: 0;
        top: 0;
        width: 1px;
        height: 20px;
        background-color: #000;
    }

    &::before {
        position: absolute;
        content: "";
        right: 0;
        bottom: 0;
        width: 1px;
        height: 20px;
        background-color: #000;
    }
}

.select {

    &__type1 {
        
        cursor: pointer;
        pointer-events: none;
        font-size: 10px;
        right: 20px;
        top: calc(50% - 5px);
    }

    &--clearn {

        cursor: pointer;
        appearance: none;

        &::-ms-expand {
            display: none;
        }
    }
}