html,
body {
    height: 100%;
    padding-top: 25px;

    @include mobile-min {
        padding-top: 52px;
    }
}

main {
    flex-grow: 1;
}

a {
    display: block;
    cursor: pointer;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    object-fit: cover;
}


// Fix IOS 15.x  button color blue default 
button {
    color: #000;
    background-color: transparent;
}