html,body{
    height: 100%;
    padding-top: 50px;
    @include mobile-min{
        padding-top: 104px;
    }
}

main{
    flex-grow: 1;
}

a{
    display: block;
    
    &:hover{
        color: #E6553B;
    }
    &:active{
        color: lighten(#E6553B,10%);
    }
}

img{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}