// components
.logo {
    @include imgReplaceText('../images/logo.svg', 85px, 18px);

    @include mobile-min {
        width: 190px;
        height: 40px;
    }
}


.btn--action {
    &:hover {
        color: #E6553B;
    }

    &:active {
        color: lighten(#E6553B, 10%);
    }
}

.border-xl-none {
    @include xl {
        border: none !important;
    }
}

.border-sm-bottom {
    @include mobile-min {
        border-bottom: 1px solid !important;
    }
}

.border-xl-bottom {
    @include xl {
        border-bottom: 1px solid !important;
    }
}


.max-height-xl-329 {
    @include xl {
        max-height: 340px;
    }
}

.max-height-xl-500 {
    @include xl {
        max-height: 500px;
    }
}

.h-sm-auto {
    @include mobile-min {
        height: auto !important;
    }
}

.width-sm-auto {
    @include mobile-min  {
        width: auto !important;
    }
}

.width-lg-auto {
    @include tablet-min {
        width: auto !important;
    }
}


.py--sm--43 {
    @include mobile-min {
        padding-top: 43px !important;
        padding-bottom: 43px !important;
    }
}

.position-sm-initial {
    @include mobile-min {
        position: initial !important;
    }
}

.position-xl-absolute {
    @include xl {
        position: absolute;
    }
}

.outline-xl-primary-1 { 
    @include xl{
        outline: 1px solid $primary;
    }
}

.max-width-sm-307 {
    @include mobile-min {
        max-width: 307px !important;
    }
}

.size-16 {
    width: 16px;
    height: 16px;
}

.size-14 {
    width: 14px;
    height: 14px;
}

.size-12 {
    width: 12px;
    height: 12px;
}