// components
.logo {
    @include imgReplaceText('../images/logo.svg', 85px, 18px);

    @include mobile-min {
        width: 190px;
        height: 40px;
    }
}


.btn--action {
    &:hover {
        color: #E6553B;
    }

    &:active {
        color: lighten(#E6553B, 10%);
    }
}

.border-md-none {
    @include md {
        border: none !important;
    }
}

.border-lg-none {
    @include tablet-min {
        border: none !important;
    }
}

.border-xl-none {
    @include xl {
        border: none !important;
    }
}

.border-sm-bottom {
    @include mobile-min {
        border-bottom: 1px solid !important;
    }
}

.border-lg-bottom {
    @include tablet-min {
        border-bottom: 1px solid #F0F0F0 !important;
    }
}

.border-xl-bottom {
    @include xl {
        border-bottom: 1px solid !important;
    }
}

.fw-sm-bold {
    @include mobile-min {
        font-weight: bold;
    }
}


.max-height-xl-329 {
    @include xl {
        max-height: 340px;
    }
}

.max-height-xl-500 {
    @include xl {
        max-height: 500px;
    }
}

.h-sm-auto {
    @include mobile-min {
        height: auto !important;
    }
}

.width-sm-auto {
    @include mobile-min {
        width: auto !important;
    }
}

.width-lg-auto {
    @include tablet-min {
        width: auto !important;
    }
}

.w-md-20 {
    @include md {
        width: 20% !important;
    }
}



.py--sm--43 {
    @include mobile-min {
        padding-top: 43px !important;
        padding-bottom: 43px !important;
    }
}

.position-sm-initial {
    @include mobile-min {
        position: initial !important;
    }
}

.position-lg-initial {
    @include tablet-min {
        position: initial !important;
    }
}

.position-xl-absolute {
    @include xl {
        position: absolute;
    }
}

.outline-xl-primary-1 {
    @include xl {
        outline: 1px solid $primary;
    }
}

.max-width-sm-307 {
    @include mobile-min {
        max-width: 307px !important;
    }
}

.opacity-lg-100 {

    @include tablet-min {
        opacity: 1 !important;
    }
}

.overflow-lg-initial {

    @include tablet-min {
        overflow: initial !important;
    }
}

.size-12 {
    width: 12px;
    height: 12px;
}

.size-14 {
    width: 14px;
    height: 14px;
}

.size-16 {
    width: 16px;
    height: 16px;
}

.size-32 {
    width: 32px;
    height: 32px;
}

.size-48 {
    width: 48px;
    height: 48px;
}